<div class="container pt-5">
  <tui-tabs>
    <button tuiTab [routerLink]="['tracked-items']" routerLinkActive type="button" class="px-3 px-md-0">
      <tui-svg src="tuiIconBell"></tui-svg>
      <span class="d-none d-md-inline tui-space_left-2">Obserwowane</span>
    </button>
    <button tuiTab [routerLink]="['settings']" routerLinkActive type="button" class="px-3 px-md-0">
      <tui-svg src="tuiIconSettings"></tui-svg>
      <span class="d-none d-md-inline tui-space_left-2">Ustawienia</span>
    </button>

    <button tuiTab type="button" style="margin-left: auto;" (click)="auth.signOut()">
      <span class="mx-3 mx-lg-0">Wyloguj</span>
      <tui-svg src="tuiIconArrowRight" class="d-none d-md-block"></tui-svg>
    </button>
  </tui-tabs>
</div>

<div class="container py-4">
  <router-outlet></router-outlet>
</div>
