<div class="container pt-5">
  <tui-tabs [(activeItemIndex)]="activeTabIndex">
    <button tuiTab type="button" (click)="activeTabIndex = 0">
      <tui-svg src="tuiIconBell" class="tui-space_right-2"></tui-svg>
      Obserwowane
    </button>
    <button tuiTab type="button" (click)="activeTabIndex = 1">
      <tui-svg src="tuiIconSettings" class="tui-space_right-2"></tui-svg>
      Ustawienia
    </button>

    <button tuiTab type="button" style="margin-left: auto;" (click)="auth.signOut()">
      Wyloguj
      <tui-svg src="tuiIconArrowRight"></tui-svg>
    </button>
  </tui-tabs>
</div>

<div class="container py-4" *ngIf="activeTabIndex === 0">
  <div class="row">
    <div class="col-12">
      <p class="tui-text_h2">Obserwowane przedmioty</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <form class="d-flex" [formGroup]="itemUrlForm" (submit)="onItemUrlForm()">
        <div class="tui-space_right-2 flex-grow-1">
          <tui-input formControlName="itemUrl">
            Adres url przedmiotu<span class="tui-required"></span>
          </tui-input>
        </div>

        <button tuiButton type="submit" [disabled]="itemUrlForm.invalid">
          Dodaj
        </button>
      </form>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <ng-container *ngIf="(auth.user | async) as user">
        <ng-container *ngFor="let url of user.trackedUrls">
          <div class="d-flex align-items-center py-2">
            <button
              tuiButton
              type="button"
              size="s"
              class="tui-space_right-2"
              (click)="onItemUrlRemove(url)"
            >
              Usuń
            </button>
            <a tuiLink [href]="url" target="_blank">{{ url }}</a>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<div class="container py-4" *ngIf="activeTabIndex === 1">
  <div class="row">
    <div class="col-12">
      <p class="tui-text_h2">Ustawienia</p>
    </div>
  </div>
  <div class="row" *ngIf="auth.user | async">
    <div class="col-12">
      <div class="row">
        <p class="tui-text_h6">Powiadomienia</p>
        <form class="col-12" [formGroup]="profileSettingsForm">
          <div class="d-flex align-items-center tui-space_bottom-4">
            <tui-toggle
              class="flex-shrink-0"
              formControlName="email"
              size="l"
              [showIcons]="true"
            ></tui-toggle>
            <span class="tui-space_left-3">Powiadomienia E-mail</span>
          </div>

          <div class="d-flex align-items-center tui-space_bottom-4">
            <tui-toggle
              class="flex-shrink-0"
              formControlName="messenger"
              size="l"
              [showIcons]="true"
            ></tui-toggle>
            <span class="tui-space_left-3">Powiadomienia Messenger</span>
          </div>

          <div class="d-flex align-items-center tui-space_bottom-4">
            <tui-toggle
              class="flex-shrink-0"
              formControlName="push"
              size="l"
              [showIcons]="true"
            ></tui-toggle>
            <span class="tui-space_left-3">Powiadomienia Push (dostępne tylko na Windows oraz MacOS)</span>
          </div>
        </form>
      </div>

      <!--      <p class="tui-text_h6">Motyw aplikacji</p>-->
      <!--      <form class="col-12" [formGroup]="profileSettingsForm">-->
      <!--        <div class="d-flex align-items-center tui-space_bottom-4">-->
      <!--          <tui-toggle-->
      <!--            formControlName="darkTheme"-->
      <!--            size="l"-->
      <!--            [showIcons]="true"-->
      <!--          ></tui-toggle>-->
      <!--          <span class="tui-space_left-3">Ciemny motyw</span>-->
      <!--        </div>-->
      <!--      </form>-->
    </div>
  </div>
</div>
