<tui-root>
  <ng-container ngProjectAs="tuiOverDialogs"></ng-container>
  <ng-container ngProjectAs="tuiOverNotifications"></ng-container>
  <ng-container ngProjectAs="tuiOverPortals"></ng-container>
  <ng-container ngProjectAs="tuiOverHints"></ng-container>

  <div class="tui-container tui-container_adaptive tui-space_auto">
    <div class="tui-row">
      <div class="tui-col_12">
        <tui-island class="tui-space_bottom-3">
          <div class="tui-row">
            <div class="tui-col_12">
              <button
                tuiIconButton
                size="s"
                type="button"
                class="tui-space_right-3 tui-space_bottom-3"
                iconRight="tuiIconSearch"
              >
              </button>
              <a tuiLink href="https://www.x-kom.pl/p/626759-procesor-intel-core-i7-intel-core-i7-11700k.html" target="_blank">https://www.x-kom.pl/p/626759-procesor-intel-core-i7-intel-core-i7-11700k.html</a>
            </div>
          </div>
        </tui-island>
        <tui-island class="tui-space_bottom-3">
          <div class="tui-row">
            <div class="tui-col_12">
              <a tuiLink href="https://www.x-kom.pl/p/564737-laptop-2-w-1-microsoft-surface-go-2-y-4gb-64gb-win10.html" target="_blank">https://www.x-kom.pl/p/564737-laptop-2-w-1-microsoft-surface-go-2-y-4gb-64gb-win10.html</a>
            </div>
          </div>
        </tui-island>
        <tui-island class="tui-space_bottom-3">
          <div class="tui-row">
            <div class="tui-col_12">
              <a tuiLink href="https://https://www.x-kom.pl/p/634544-monitor-led-27-acer-nitro-xv272ukvbmiiprzx-agilesplendor-ips.html" target="_blank">https://www.x-kom.pl/p/634544-monitor-led-27-acer-nitro-xv272ukvbmiiprzx-agilesplendor-ips.html</a>
            </div>
          </div>
        </tui-island>
        <tui-island class="tui-space_bottom-3">
          <div class="tui-row">
            <div class="tui-col_12">
              <a tuiLink href="https://www.morele.net/selfie-stick-hama-mini-statyw-flex-2w1-czarny-6024535/" target="_blank">https://www.morele.net/selfie-stick-hama-mini-statyw-flex-2w1-czarny-6024535/</a>
            </div>
          </div>
        </tui-island>
        <tui-island class="tui-space_bottom-3">
          <div class="tui-row">
            <div class="tui-col_12">
              <a tuiLink href="https://www.x-kom.pl/p/https://www.morele.net/procesor-amd-ryzen-7-5800x-3-8ghz-32-mb-box-100-100000063wof-7267024/" target="_blank">https://www.morele.net/procesor-amd-ryzen-7-5800x-3-8ghz-32-mb-box-100-100000063wof-7267024/</a>
            </div>
          </div>
        </tui-island>
        <tui-island class="tui-space_bottom-3">
          <div class="tui-row">
            <div class="tui-col_12">
              <a tuiLink href="https://www.morele.net/karta-graficzna-gigabyte-radeon-rx-6700-xt-gaming-oc-12gb-gddr6-gv-r67xtgaming-oc-12gd-5946529/" target="_blank">https://www.morele.net/karta-graficzna-gigabyte-radeon-rx-6700-xt-gaming-oc-12gb-gddr6-gv-r67xtgaming-oc-12gd-5946529/</a>
            </div>
          </div>
        </tui-island>
      </div>
    </div>
  </div>
</tui-root>
