<div class="row">
  <div class="col-12">
    <p class="tui-text_h2 tui-space_top-0 tui-space_bottom-6">Ustawienia</p>
  </div>
</div>

<div class="row" *ngIf="auth.user | async">
  <div class="col-12">
    <div class="row tui-space_bottom-10">
      <tui-island>
        <form class="col-12" [formGroup]="profileSettingsForm" (submit)="onNotificationsSettingsFormSubmit()">
          <div class="tui-space_bottom-10">
            <p class="tui-text_h6 tui-space_top-0">Powiadomienia</p>
            <div class="d-flex align-items-center mb-3">
              <tui-toggle
                class="flex-shrink-0"
                formControlName="email"
                size="l"
                [showIcons]="true"
              ></tui-toggle>
              <span class="tui-space_left-3">Powiadomienia E-mail</span>
            </div>

            <div class="d-flex align-items-center mb-3">
              <tui-toggle
                class="flex-shrink-0"
                formControlName="messenger"
                size="l"
                [showIcons]="true"
              ></tui-toggle>
              <span class="tui-space_left-3">Powiadomienia Messenger</span>
            </div>

            <div class="d-flex align-items-center mb-3">
              <tui-toggle
                class="flex-shrink-0"
                formControlName="push"
                size="l"
                [showIcons]="true"
              ></tui-toggle>
              <span class="tui-space_left-3">Powiadomienia Push (dostępne tylko na Windows oraz MacOS)</span>
            </div>
          </div>

          <div class="tui-space_bottom-10">
            <p class="tui-text_h6">Adresy powiadomień</p>

            <label
              tuiLabel
              label="Jeśli powiadomienia e-mail są włączone, podaj adres e-mail na który chcesz otrzymywać powiadomienia."
            >
              <tui-input class="mb-3" formControlName="notificationsEmail">
                Adres e-mail
              </tui-input>
            </label>


            <label
              tuiLabel
              label="Jeśli powiadomienia messenger są włączone, podaj adres konta na który chcesz otrzymywać powiadomienia."
            >
              <tui-input class="mb-3" formControlName="notificationsMessenger">
                Adres konta messenger
              </tui-input>
            </label>
          </div>

          <button
            tuiButton
            type="submit"
          >
            Zapisz ustawienia powiadomień
          </button>
        </form>
      </tui-island>
    </div>

    <div class="row tui-space_bottom-10">
      <tui-island>
        <form class="col-12" [formGroup]="checkFrequencyForm" (submit)="onCheckFrequencyFormSubmit()">
          <div class="tui-space_bottom-10">
            <p class="tui-text_h6 tui-space_top-0">Częstotliwość sprawdzania</p>

            <label
              tuiLabel
              label="Podaj częstotliwość sprawdzania produktów, wartość w sekudnach (minimum 30s)."
            >
              <tui-input-number class="mb-3" postfix="s" min="30" formControlName="checkFrequency">
                Częstotliwość<span class="tui-required"></span>
              </tui-input-number>
            </label>
          </div>

          <button
            tuiButton
            type="submit"
            [disabled]="checkFrequencyForm.invalid"
          >
            Zapisz ustawienia sprawdzania
          </button>
        </form>
      </tui-island>
    </div>
  </div>
</div>
