@import "~@taiga-ui/core/styles/taiga-ui-local";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

tui-root {
  min-height: 100vh;
  transition: background-color 350ms;

  &.dark {
    background: #2D2D2D;
  }
}
