<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-7 col-lg-5">
      <form class="d-flex flex-column" [formGroup]="loginForm" (submit)="onLoginFormSubmit()">
        <div class="mb-2">
          <tui-input formControlName="email">
            Adres e-mail<span class="tui-required"></span>
          </tui-input>
        </div>

        <div class="mb-3">
          <tui-input-password formControlName="password">
            Hasło<span class="tui-required"></span>
          </tui-input-password>
        </div>

        <button
          tuiButton
          appearance="outline"
          type="submit"
          [showLoader]="isRequestPending"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
